<div ng-include="'header.html'"></div>
<div id=stockIn>
<center style="padding-top:1%;padding-right: 9%;">
<div id="login">
<h2>ADD STOCK</h2>
<center style="background-color: black; height: 121px; padding-top: 0px; border-radius: 0px 0px 20px 20px;    height: 417px;">
<br> 
<table>
<tr><td  style="padding-bottom: 18px;"><font color="white">ITEM CODE</font></td><td style="padding-bottom: 18px; padding-left: 17px;"><input type="text" style="border: 1px solid #777" ng-model="itemCode"></td></tr>
<tr><td style="padding-bottom: 18px;"><font color="white">ITEM TYPE</font></td>&nbsp;<td style="padding-bottom: 18px; padding-left: 17px;"><input type="text" style="border: 1px solid #777" ng-model="itemType"></td></tr>
<tr><td style="padding-bottom: 18px;"><font color="white">BRAND</font></td><td style="padding-bottom: 18px;padding-left: 17px;"><input type="text" style="border: 1px solid #777" ng-model="brand"></td></tr><br>
<tr><td></td><td></td></tr>
<tr><td style="padding-bottom: 18px;"><font color="white">QUANTITY</font></td>&nbsp;<td style="padding-bottom: 18px;padding-left: 17px;"><input type="number" style="border: 1px solid #777" ng-model="quantity"></td></tr>
<tr></tr>
<tr><td style="padding-bottom: 18px;"><font color="white">SIZE</font></td>&nbsp;<td style="padding-bottom: 18px;padding-left: 17px;"><input type="text" style="border: 1px solid #777" ng-model="size"></td></tr>
<tr></tr>
<tr><td style="padding-bottom: 18px;"><font color="white">PRICE</font></td>&nbsp;<td style="padding-bottom: 18px;padding-left: 17px;"><input type="number" style="border: 1px solid #777;width: 172px;" ng-model="unitPrice" ></td></tr>
<tr><td style="padding-bottom: 18px;"><font color="white">DATE</font></td>&nbsp;<td style="padding-bottom: 18px;padding-left: 17px;"><input type="date" style="border: 1px solid #777;width: 172px;" ng-model="date" min="2000-01-02"></td></tr>
</table>
<center><button " value="submit" class="btn btn-default "ng-click="addStock()" style="background-color: #777">ADD</button></center>
</center>
</div>
<div id="message">
{{message}}
</div>
</center>
</div>