<div class="navbar navbar-inverse navbar-static-top" role="navigation">

                <div class="navbar-header">
                                <a class="navbar-brand">HANGERS MENS APPARELS</a>
                </div>
                <div style="color: black" class="navbar-collapse collapse">
                                <ul class="nav navbar-nav" style="width:1060px;">
          
                                </ul>

                </div>
</div>
<center style="padding-top:6%;padding-right: 9%;">
<div id="login">
<h2>Login</h2>
<center style="background-color: black; height: 121px; padding-top: 17px; border-radius: 0px 0px 20px 20px;    height: 170px;">
<br> <font color="white">USERNAME</font> &nbsp; &nbsp;
<input type="text" style="border: 1px solid #777" ng-model="name">
<br> <br> <font color="white">PASSWORD</font> &nbsp;
 &nbsp;<input type="password" style="border: 1px solid #777" ng-model="password"> <br> <br>
<button " value="submit" class="btn btn-default "ng-click="checkCredentials()" style="background-color: #777">SUBMIT</button>
 </center>
 {{message}}
</div>
</center>

